<h1>{$manager.route.lg}</h1>
<div class="contents">
	{assign var="count" value=0}
	{if !empty($manager.clients)}
		{include file="./templates/logged_in/pagination_pages.html"}
		<div class="table_header">
			<div class="cell small_cell">{$lg.client_type}</div>
			<div class="cell">{$lg.first_name}</div>
			<div class="cell">{$lg.last_name}</div>
			<div class="cell">{$lg.email}</div>
			<div class="cell">{$lg.company}</div>
			<div class="cell">{$lg.phone}</div>
		</div>
		{foreach from=$manager.clients key=key item=i}
			<div class="row_table" person_id="{$i.id}">
				<div class="visible_row">
					<div class="cell small_cell">{if $i.user_type == "J"}{$lg.legal_person}{else}{$lg.individual}{/if}</div>
					<div class="cell">{$i.name}</div>
					<div class="cell">{$i.surname}</div>
					<div class="cell">{$i.mail}</div>
					<div class="cell">{if !empty($i.company)}{$i.company}{else}-{/if}</div>
					<div class="cell">{$i.phone}</div>
				</div>
				<div class="row show_more noselect" rel="{$count}"><span class="more show"><span class="inline_svg">{$lg.see_more_info}</span>{include file="./css/svg/down.svg"}</span><span class="less"><span class="inline_svg">{$lg.hide_info}</span>{include file="./css/svg/up.svg"}</span></div>
				<div class="hidden_row" rel="{$count}">
					{if $i.user_type == "J"}
						<div class="cell">{$lg.pvn_reg_nr}: {$i.pvn_reg_nr}</div>
						<div class="cell">{$lg.registration_nr}: {$i.registration_nr}</div>
					{else}
						<div class="item">{$lg.personal_code}: {$i.personal_code}</div>
					{/if}
				</div>
			</div>
			{assign var="count" value=$count+1}
		{/foreach}
		{include file="./templates/logged_in/pagination_limits.html"}
		{include file="./templates/logged_in/pagination_pages.html"}
	{/if}
	<div class="empty centered_text{if $count == 0} show{/if}"><h1>{$lg.no_info}</h1></div>
{*$manager.pending_users|print_r*}</div>