<h1>{$manager.route.lg}</h1>
<div class="contents">
	<div class="controls top">
		<div class="item{if $manager.curr_page == 0} active{/if}">
			<a {if $manager.curr_page != 0}href="{$manager.route.url}/0"{/if}>
				LIST
			</a>
		</div>
		<div class="item{if $manager.curr_page == 1} active{/if}">
			<a {if $manager.curr_page != 1}href="{$manager.route.url}/1"{/if}>
				CREATE NEW
			</a>
		</div>
	</div>
	{assign var="count" value=0}
	{if !empty($manager.translators)}
		{if $manager.translators=="PROFILE"}
			{include file="./templates/logged_in/employees/profile.html"}
		{elseif $manager.translators=="NEW"}
			{include file="./templates/logged_in/employees/new.html"}
		{elseif $manager.translators|is_array}
			{include file="./templates/logged_in/employees/list.html"}
		{else}
			<div class="controls">
				<form action="" method="post">
					<label class="inline">{$lg.translators}</label><input type="checkbox" name="tr" value="true" {if !empty($manager.all_selected) || !empty($manager.tr)}checked{/if}>
					<label class="inline">{$lg.editors}</label><input type="checkbox" name="ed" value="true" {if !empty($manager.all_selected) || !empty($manager.ed)}checked{/if}>
					<label class="inline">{$lg.project_managers}</label><input type="checkbox" name="pr" value="true" {if !empty($manager.all_selected) || !empty($manager.pr)}checked{/if}>
					<input type="hidden" name="link" value="{$smarty.server.REQUEST_URI}">
					<input type="submit">
				</form>
			</div>
			<div class="empty centered_text show"><h1>{$lg.no_info}</h1></div>
		{/if}
	{else}
			<div class="controls">
				<form action="" method="post">
					<label class="inline">{$lg.translators}</label><input type="checkbox" name="tr" value="true" {if !empty($manager.all_selected) || !empty($manager.tr)}checked{/if}>
					<label class="inline">{$lg.editors}</label><input type="checkbox" name="ed" value="true" {if !empty($manager.all_selected) || !empty($manager.ed)}checked{/if}>
					<label class="inline">{$lg.project_managers}</label><input type="checkbox" name="pr" value="true" {if !empty($manager.all_selected) || !empty($manager.pr)}checked{/if}>
					<input type="hidden" name="link" value="{$smarty.server.REQUEST_URI}">
					<input type="submit">
				</form>
			</div>
		<div class="empty centered_text show"><h1>{$lg.no_info}</h1></div>
	{/if}
{*$manager.pending_users|print_r*}</div>