<h1>New Projects</h1>
<div class="contents">
	{if !empty($manager.jobs)}
		<table id="submitted_jobs" class="hidden_rows">
			<thead>
				<tr>
					<th style="width: 20px">ID</th>
					<th>{$lg.first_name}</th>
					<th>{$lg.last_name}</th>
					<th>{$lg.company}</th>
					<th>{$lg.date_due}</th>
					<th>{$lg.time_zone}</th>
					<th>{$lg.number_of_tasks}</th>
					<th>{$lg.submitted}</th>
				</tr>
			</thead>
			<tbody>
				{if (!empty($manager.jobs))}
					{foreach from=$manager.jobs key=key item=job}
					{*<pre>{$job.customer|print_r}</pre>*}
					<tr class="ui hover" data="{$job.id}">
							<td>
								{$job.id}
							</td>
							<td>	
								{$job.customer.0.name}
							</td>
							<td>	
								{$job.customer.0.surname}
							</td>
							<td>	
								{if !empty($job.customer.0.company)}
									{$job.customer.0.company}
								{else}
									-
								{/if}
							</td>
							<td>	
								{if (!empty($job.date_due) && !empty($job.time_due))}
									{$job.date_due} {$job.time_due}
								{elseif (!empty($i["date_due"]))}
									{$job.date_due}
								{else}
									echo "-";
								{/if}
							</td>
							<td>	
								{if !empty($job.time_zone)}
									{$job.time_zone}
								{else}
									echo "-";
								{/if}
							</td>
							<td>	
							{*<pre>{$job.pairs|print_r}</pre>*}
								{$job.file_count}
							</td>
							<td>
								{$job.created}
	
								{*<div class="ui pull_right">
									<label class="ui checkbox">
										<input type="checkbox" name="id_<?= $i["id"] ?>" value="<?= $i["id"] ?>">
										<span></span> 
									</label>
								</div>*}
							</td>
							<td class="toggle_specialities noselect" onClick="hiddenRow({$job.id}, 'submitted_jobs')">{$lg.show_pairs}</td>
						</tr>
						{if !empty($job.pairs)}
							<tr class="hide to_toggle" toggle_id="{$job.id}">
								<td class="job_language_pairs" colspan="5">
									<table class="job_language_pairs_table">
										<thead><tr><th>{$lg.source_language}</th><th>{$lg.target_language}</th><th>{$lg.number_of_tasks}</th></tr></thead>
										{foreach from=$job.pairs key=pair_key item=pair}
											<tr class="job_language_pairs_row">
												<td class="job_language_pairs_cell">
													{if !empty($pair.lang_from_name)}
														{$pair.lang_from_name}
													{else}
														{$pair.lang_from}
													{/if}
												</td>
												<td class="job_language_pairs_cell">
													{if !empty($pair.lang_to_name)}
														{$pair.lang_to_name}
													{else}
														{$pair.lang_to}
													{/if}
												</td>
												<td class="job_language_pairs_cell">
													{if !empty($pair.file_count)}
														{$pair.file_count}
													{else}
														-
													{/if}
												</td>
											</tr>
										{/foreach}
									</table>
								</td>
							</tr>
						{/if}
					</tr>
					{/foreach}
				{else}
					NO JOBS FOR YOU
				{/if}
			</tbody>	
		</table>
	{else}
		<div class="empty centered_text show"><h1>{$lg.no_info}</h1></div>
	{/if}
{*$manager.pending_users|print_r*}</div>