<h1>{$lg.translators}</h1>
<div class="contents">
	<div class="controls top">
		<div class="item{if $manager.curr_page == 0} active{/if}">
			<a {if $manager.curr_page != 0}href="{$manager.route.url}/0"{/if}>
				LIST
			</a>
		</div>
		<div class="item{if $manager.curr_page == 1} active{/if}">
			<a {if $manager.curr_page != 1}href="{$manager.route.url}/1"{/if}>
				CREATE NEW
			</a>
		</div>
	</div>
	{assign var="count" value=0}
	{if !empty($manager.translators)}
		{if $manager.translators=="PROFILE"}
			<div>{$lg.first_name}: {$manager.employee.name}</div>
			<div>{$lg.last_name}: {$manager.employee.surname}</div>
			<div>{$lg.email}: {$manager.employee.mail}</div>
			<div>{$lg.phone}: {if !empty($manager.employee.phone)}{$manager.employee.phone}{else}-{/if}</div>
			
			<div>
				{if ((!empty($manager.employee.translator)) && (!empty($manager.employee.editor)))}
					{$lg.translator_editor}
				{elseif (!empty($manager.employee.translator))}
					{$lg.translator}
				{elseif (!empty($manager.employee.editor))}
					{$lg.editor}
				{/if}
			</div>
				{if !empty($manager.employee.language_pairs)}
			<h3>{$lg.employee_pair}</h3>
			<table id="translator_pairs" class="hidden_rows">
				<thead>
					<tr>
						<th>
							{$lg.select_for_action}
						</th>
						<th>
							{$lg.language_pair}
						</th>
						<th>
							{$lg.known_since}
						</th>
						<th>
							{$lg.vacancy_rate}
						</th>
						<th>{$lg.show_specialities}</th>
					</tr>
				</thead>
				<tbody>
				{if !empty($manager.employee.language_pairs)}
				{*<pre>{$manager.employee.language_pairs|print_r}</pre>*}
						{foreach from=$manager.employee.language_pairs key=key item=i}
							<tr>		
								<td>
									<input class="main_select" value="{$i.employee_pair_id}" type="checkbox">
								</td>
								<td>
									<div class="original">
										<span class="cell_content">
											{$i.menu_name}
										</span>
									</div>
								</td>
								<td>
									<div class="original">
										<span class="cell_content">{$i.when_learned}</span>
										<span class="in_text_element">
											<button class="button" onClick="openChangeInput(this)">...</button>
										</span>
									</div>
									<div class="changable hide"><input type="text" class="short" value="{$i.when_learned}"><span class="in_text_element"><button class="button primary" onClick="changeCellValue(this, '{$i.employee_pair_id}', 'when_learned', '/res/translations_manager.php', 'changeDateLearned')">{$lg.done}</button>
											<button class="button primary" onClick="cancelUpdate(this)">
												✖
											</button></span></div>
								</td>
								<td>
									{if !empty($i.rate) && !empty($i.currency)}
										<div class="original"><span class="cell_content">{$i.rate}</span><span> {$i.currency}</span>
										<span class="in_text_element">
											<button class="button" onClick="openChangeInput(this)">...</button>
										</span>
										</div>
									{else}
										<div class="original"><span class="cell_content">-</span>
										<span class="in_text_element">
											<button class="button" onClick="openChangeInput(this)">...</button>
										</span></div>
									{/if}
									<div class="changable hide">
										<input type="text" class="short" value="{$i.rate}">
										<span class="in_text_element">
											<button class="button primary" onClick="changeCellValue(this, '{$i.employee_pair_id}', 'rate', '/res/translations_manager.php', 'changePairRate')">{$lg.done}
											</button>
											<button class="button primary" onClick="cancelUpdate(this)">
												✖
											</button>
										</span>
									</div>
								</td>
								<td class="toggle_specialities noselect" onClick="hiddenRow({$i.employee_pair_id}, 'submitted_jobs')">{$lg.show_specialities}</td>
							</tr>
							{if !empty($manager.expertise_items)}
								<tr class="hide to_toggle" toggle_id="{$i.employee_pair_id}">
									<td class="employee_specialities" colspan="5">
										<table class="employee_specialities_table">
											<thead><tr><th>{$lg.speciality}</th><th>{$lg.vacancy_rate}</th><th>{$lg.knows_speciality}</th></tr></thead>
											{foreach from=$manager.expertise_items key=keyy item=ii}
											{assign var="has_this" value=false}
											{assign var='speciality_rate' value='-'}
											{if !empty($i.pair_specialities)}
												{foreach from=$i.pair_specialities key=keyyy item=iii}
													{if $ii.id == $iii.speciality_id}
														{assign var="has_this" value=true}
														{assign var='speciality_rate' value=$iii.rate}
													{/if}
												{/foreach}
											{/if}
												<tr class="employee_specialities_row">
													<td class="employee_specialities_cell">
														{$ii.name}
													</td>
													<td class="employee_specialities_cell">
														{if !empty($speciality_rate)}
															<div class="original"><span class="cell_content">{$speciality_rate}</span>
															{if $has_this==true}
															<span class="in_text_element">
																<button class="button" onClick="openChangeInput(this)">...</button>
															</span>{/if}
															</div>
														{else}
															<div class="original"><span class="cell_content">-</span>
															{if $has_this == true}
																<span class="in_text_element">
																	<button class="button" onClick="openChangeInput(this)">...</button>
																</span></div>
															{/if}
														{/if}
														{if $has_this == true}
															<div class="changable hide">
																<input type="text" class="short" value="{if !empty($ii.rate)}$ii.rate{else}-{/if}">
																<span class="in_text_element">
																	<button class="button primary" onClick="changeCellValue_2ids(this, '{$i.employee_pair_id}', '{$ii.id}', 'rate', '/res/translations_manager.php', 'changePairSpecialityRate')">{$lg.done}
																	</button>
																	<button class="button primary" onClick="cancelUpdate(this)">
																		✖
																	</button>
																</span>
															</div>
														{/if}
													</td>
													<td class="employee_specialities_cell">
														<input class="speciality" type="checkbox" value="{$ii.id}"
														{if $has_this == true} checked{/if}>
													</td>
												</tr>
											{/foreach}
											<tr><td toggling="{$i.employee_pair_id}" colspan="3" class="center"><span class="bloated primary submit button" onClick="changeSpecialities({$i.employee_pair_id}, 'translator_pairs')">SAVE</span><span class="hide done_text bloated">{$lg.done}</span></td></tr>
										</table>
									</td>
								</tr>
							{/if}
						{/foreach}
					{/if}
					<tr>		
						<td colspan="5" class="center"><span class="bloated primary submit button" onClick="tableAction('translator_pairs', '/res/translations_manager.php', 'removeEmployeePairs');">{$lg.remove}</span></td>
					</tr>
				</tbody>
			</table>
			{/if}
			{if !empty($manager.language_pairs)}
				<h3 class="title" id="add_pairs_title">{$lg.add_language_pairs}</h3>
				<div class="centered_form" id="add_pairs_form">
					<table id="add_pairs_table">
						<thead>
							<tr>
								<th>
									{$lg.add}
								</th>
								<th>
									{$lg.language_pair}
								</th>
								<th>
									{$lg.known_since}
								</th>
								<th>
									{$lg.vacancy_rate}
								</th>
							</tr>
						</thead>
						<tbody>
							{foreach from=$manager.language_pairs key=key item=i}
								<tr>
									<td>
										<input type="checkbox" class="checkbox">
									</td>
									<td>
										<span value="{$i.id}" class="name">
											{$i.menu_name}
										</span>
									</td>
									<td>
										<input class="date_input" type="text" name="date" placeholder="{$lg.pikaday_date_format}">
									</td>
									<td>
										<input class="required price rate" name="vacancy_rate" type="text" placeholder="{$lg.vacancy_rate}">
										<div class="currency_container">
											<div class="dropdown currency">
												<div class="select currency">
													<span class="text">
														{$currencies.0}
													</span>
												{if $currencies|@count > 1}
													{include file="./css/svg/down.svg"}
												{/if}
												</div>
													<input type="hidden" name="currency" value="{$currencies.0}">
												{if $currencies|@count > 1}
													<div class="items">
														<div class="contents">
															{foreach from=$currencies item=g}
																<span class="item" onclick="resetInputNoRel(this, 'currency', form_cv_data);">{$g}</span>
															{/foreach}
														</div>
													</div>
												{/if}
											</div>
										</div>
									</td>
								</tr>
							{/foreach}
						</tbody>
					</table>
					<input type="hidden" id="employee_id_input" value="{$manager.employee.id}">
					<div class="controls center">
						<span class="bloated primary submit button" id="add_pairs">
							{$lg.done}
						</span>
					</div>
				</div>
			{/if}
		{elseif $manager.translators=="NEW"}
		<div id="create_employee_form" class="centered_form">
			<h3 class="title">{$lg.add_employee}</h3>
			<div class="segment names">
				<div class="input_container">
					<input class="required" info_type="user" name="name" type="text" placeholder="{$lg.first_name}*">
				</div>
				<div class="input_container">
					<input class="required" info_type="user" name="surname" type="text" placeholder="{$lg.last_name}*">
				</div>
			</div>
			<div class="segment email">
				<input class="required" info_type="user" name="mail" type="email" placeholder="{$lg.email}*">
			</div>
			<div class="segment phone">
				<span class="title">
					{$lg.phone}*:
				</span>
				<input class="required" name="phone" type="phone" info_type="user_data">
			</div>
			<div class="segment prof">
				<span class="title">
					{$lg.choose_vacancy}:
				</span>
				<div class="dropdown">
					<div class="select">
						<span class="text">
							{$lg.translator_editor}
						</span>
						<input class="required" name="position_id" id="position_id" type="hidden" info_type="user_data" value="0">
						{include file="./css/svg/down.svg"}
					</div>
					<div class="items">
						<div class="contents scrollable">
							<span class="item" onclick="set_position(this);" position="0">{$lg.translator_editor}</span>
							<span class="item" onclick="set_position(this);" position="1">{$lg.translator}</span>
							<span class="item" onclick="set_position(this);" position="2">{$lg.editor}</span>
							<span class="item" onclick="set_position(this);" position="3">{$lg.project_manager}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="segment passwords" mode="b">
				<span class="title">
					{$lg.password}*:
				</span>
				<input class="required" name="password" type="password" info_type="user">
				<span class="title">
					{$lg.password_again}*:
				</span>
				<input class="required" name="password2" type="password" info_type="user">
			</div>
			<div class="controls center">
				<span class="bloated primary submit button" id="create_employee">
					{$lg.send_application}
				</span>
				<img class="loading hide" src="/css/images/loading.gif" >
				<span class="text hide" id="registration_done">{$lg.registration_done}</span>
			</div>
		</div>
		{elseif $manager.translators|is_array}
			{foreach from=$manager.translators key=key item=i}
				<div><a href="{$smarty.server.REQUEST_URI}/{$i.id}">{$i.name} {$i.surname}</a></div>
				{assign var="count" value=$count+1}
			{/foreach}
		{else}
			<div class="empty centered_text show"><h1>{$lg.no_info}</h1></div>
		{/if}
	{else}
		<div class="empty centered_text show"><h1>{$lg.no_info}</h1></div>
	{/if}
{*$manager.pending_users|print_r*}</div>