<div class="gray_section separated">
	<div class="container">
		<div class="box">
			<div class="contents">
				<h1 class="title">
					{$cat.0.name}
				</h1>
				<div class="contents">
					{$cat.0.content}
				</div>
				<div id="forgot_password_form" class="centered_form">
					<div class="segment email">
						<span class="title">
							{$lg.email}*:
						</span>
						<input class="required" name="email" type="email">
					</div>
					<div class="controls center">
						<span class="bloated primary submit button" id="forgot_password_button">
							{$lg.done}
						</span>
						<img class="loading hide" src="/css/images/loading.gif" >
						<span class="text hide" id="reset_code_sent">{$lg.reset_code_sent}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>