<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Language" content="{$lang}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/ico" href="/css/images/favicon.ico" />
	<title>{if !empty($cat.0.meta_title)}{$cat.0.meta_title}{else}{$lg.site_name}{/if}</title>
	<meta name="description" content="{$cat.0.meta_description}" /> 
	<meta name="keywords" content="{$cat.0.meta_keywords}" />

	<link href="/css/vendor/normalize.css" rel="stylesheet" type="text/css" />
	
	<link href="/css/style.css?{$css_date}" rel="stylesheet" type="text/css" />

	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<link rel="image_src" href="{if !empty($cat.0.image_big)}/images/meta/{$cat.0.image_big}{else}/css/images/logo.png{/if}" /> {* For Facebook default thumbnail *}
		
	<script type="text/javascript">
		var search_hide = {(","|explode:$settings.search_hide_templates)|@json_encode};
		var lang = '{$lang}';
		var gallery = {};
	</script>
	<script type="text/javascript"> lg = new Array();{foreach from=$lg key=id item=i name=lg}lg["{$id}"]= "{$i}";{/foreach} </script>
	<script type="text/javascript"> var js_extensions = "{$settings["accepted_formats_js"]}";
	var accepted_formats = "{$settings["accepted_formats"]}"; </script>
	<script src='https://www.google.com/recaptcha/api.js?hl={$lang}'></script>
</head>

<body id="{$cat.0.template|@strtolower}" class="{$lang} {if $cat.0.template == "home"}landing{else}inner{/if} page">

	<header id="header">

		<div class="bar">
			<div class="container contents">
				<div class="attributes left">
					<span class="item">
						{include file="./css/svg/phone.svg"}
						{$settings.phone}
					</span>
					<span class="item">
						{include file="./css/svg/mail.svg"}
						{$settings.email}
					</span>
				</div>

				<div class="search">
					<input class="input" placeholder="{$lg.search_for} ...">
					<span class="button">
						{include file="./css/svg/search.svg"}
					</span>
					<div class="search_dropdown">
						<span class="item">
							<strong>...</strong> ...
						</span>
					</div>
				</div>

				<div class="attributes right">
					<span class="item is_dropdown first">
							<a>{$lg.company}
						 	{include file="./css/svg/down.svg"} </a>
						<div class="menu_dropdown simple">
							<div class="contents">
								{foreach from=$menu item=i}
									{if !empty($i.shown_in_dropdown) && !empty($i.in_company_dropdown)}
										<a href="{$slang}{$i.long_link}" class="item">{$i.name}</a>
									{/if}
								{/foreach}
							</div>
						</div>        
					</span>
					{if $lang_count > 1}
					<span class="item languages_link is_dropdown">
						<a href="javascript:void(0)" class="languages choose">
							{foreach from=$languages key=id item=i}
								{if (!empty($i.active))}
									{if ($i.iso == $lang)}
										{$i.name}
										<i class="icon" style="background-image:url('/cms/css/flags/{$i.iso}.svg')"></i>
										{break}
									{/if}
								{/if}
							{/foreach}
							{if $lang_count > 1}
					 			{include file="./css/svg/down.svg"}  
							{/if} 
						</a>      
						<div class="menu_dropdown languages choose simple">
							<div class="group">
								<div class="contents">
									{foreach from=$languages item=g}
										{if (!empty($g.active))}
											{if ($g.iso != $lang)}
												<a href="/{$g.iso}{$langbar.{$g.id}}" class="item">
													{$g.name}
													<i class="icon" style="background-image:url('/cms/css/flags/{$g.iso}.svg')"></i>
												</a>
											{/if}
										{/if}
									{/foreach}
								</div>
							</div>
						</div>
					</span>
						<span class="item tablet_company">
						<a href="javascript:void(0)" class="languages choose">
							{foreach from=$languages key=id item=i}
								{if (!empty($i.active))}
									{if ($i.iso == $lang)}
										{$i.name}
										<i class="icon" style="background-image:url('/cms/css/flags/{$i.iso}.svg')"></i>
										{break}
									{/if}
								{/if}
							{/foreach}
						</a>      
					</span>
						<div class="menu_dropdown choose simple">
							<div class="group">
								<div class="contents">
									{foreach from=$languages item=g}
										{if (!empty($g.active))}
											{if ($g.iso != $lang)}
												<a href="/{$g.iso}{$langbar.{$g.id}}" class="item">
													{$g.name}
													<i class="icon" style="background-image:url('/cms/css/flags/{$g.iso}.svg')"></i>
												</a>
											{/if}
										{/if}
									{/foreach}
								</div>
							</div>
						</div>
					{/if}
					<span class="item tablet_company">
					 	{include file="./css/images/small_menu.svg"}        
					</span>
					<div class="menu_dropdown simple">
						<div class="contents">
							{foreach from=$menu item=i}
								{if !empty($i.shown_in_dropdown) && !empty($i.in_company_dropdown)}
									<a href="{$slang}{$i.long_link}" class="item">{$i.name}</a>
								{/if}
							{/foreach}
						</div>
					</div>
					<div class="item logging simple">
						{if !empty($session.user)}
							<a href="/logout.php" class="item icon primary logout button">
								{*<a href="/logout.php">*}
								{include file="./css/svg/lock.svg"}{$lg.logout}{*</a>*}
							</a>
						{else}
							{$lg.login}
							{include file="./css/svg/lock.svg"}
						{/if}
					</div>
					{if empty($session.user)}
						<div id="log_in">
							<div class="form"  id="modal_login_form">
								<label>
									{$lg.email}
								</label>
								<div class="input">
									<div class="icon">
									</div>
									<input class="contents" type="text" name="mail" data-is-required="true">
								</div>

								<label>
									{$lg.password}
								</label>
								<div class="input">
									<div class="icon">
									</div>
									<input class="contents" type="password" name="password" data-is-required="true">
								</div>

								<div class="controls">
									<span class="button submit primary" id="login_button">
										{$lg.log_in}
									</span>
									{if !empty($registration) && !empty($forgot_password)}
										<div class="contents">
											<a class="item register" href="{$slang}{$registration.0.long_link}">
												{$registration.0.name}
											</a>

											<a class="item forgot" href="{$slang}{$forgot_password.0.long_link}">
												{$forgot_password.0.name}
											</a>						
										</div>
									{/if}
								</div>
							</div>
						</div>
					{/if}
				</div>
			</div>
		</div>

		<div class="container">
			<a id="logo" href="http://{$smarty.server.SERVER_NAME}/{$lang}">{include file="./css/svg/logo.svg"}</a>
			<div class="tablet_attributes">
				<div class="tablet_search">
					<div class="search">
						<input class="input" placeholder="{$lg.search_for} ...">
						<span>
							{include file="./css/svg/search.svg"}
						</span>
						<div class="search_dropdown">
							<span class="item">
								<strong>...</strong> ...
							</span>
						</div>
					</div>
					<span class="tab_search_but show">{include file="./css/svg/search.svg"}</sapn></div>
				<span class="burger">{include file="./css/images/burger.svg"}</span>
			</div>

			<div class="menu">
				<span class="item is_dropdown">
					<span class="item_with_svg"><a style="cursor: default">{$lg.world_languages|upper}</a>
				 	{include file="./css/svg/down.svg"}</span>
				<div class="menu_dropdown languages">
					<div class="contents">
						{assign var="lang_rel" value=0}
						{assign var="lang_gr_count" value=($lang_gr|@count)}
						{foreach from=$lang_gr item=g}
							<div class="group" lang_rel="{$lang_rel}">
								<strong class="title">{$g.name}</strong>
								{assign var="count" value=0}
								{assign var="count_in_group" value=0}
								{foreach from=$lang_items item=i}
									{if $i.parent_id == $g.id}
										{assign var="count_in_group" value=$count_in_group+1}
									{/if}
								{/foreach}
								<div class="lang_group_dropdown {if $count_in_group < 3}small{/if}" lang_rel="{$lang_rel}">
									{if $count_in_group < 3}
										{foreach from=$lang_items item=i}
											{if $i.parent_id == $g.id}
												<a href="{$slang}{$i.long_link}" class="item">
													<i class="icon" style="background-image:url('/cms/css/flags/{$i.lang_iso_code}.svg')"></i>
													{$i.name}
												</a>
												{assign var="count" value=$count+1}
											{/if}
										{/foreach}
										{*foreach from=$lang_items item=i}
											{if $i.parent_id == $g.id}
												{if $count == 0}
													<div class="item see_more noselect" lang_rel="{$lang_rel}">					{$lg.see_more}
													</div>
												{/if}
												<a href="{$slang}{$i.long_link}" class="item more">
													<i class="icon" style="background-image:url('/cms/css/flags/{$i.lang_iso_code}.svg')"></i>
													{$i.name}
												</a>
												{assign var="count" value=$count+1}
											{/if}
										{/foreach*}
									{else}
										{assign var="in_column" value=(($count_in_group/4)|ceil)}
										{assign var="count" value=0}
										{if $in_column == 0}
											{$in_column = 1}
										{/if}
										<div class="lang_column normal">
										{foreach from=$lang_items item=i}
											{if $i.parent_id == $g.id}
												{if $count != 0}
													{if ((($count % $in_column) == 0) && $count != 0)}
														</div>
													{/if}
													{if (($count % $in_column) == 0)}
														<div class="lang_column normal">
													{/if}
												{/if}
												<a href="{$slang}{$i.long_link}" class="item">
													<i class="icon" style="background-image:url('/cms/css/flags/{$i.lang_iso_code}.svg')"></i>
													{$i.name}
												</a>
												{assign var="count" value=$count+1}
											{/if}
										{/foreach}
										</div>
									{/if}
								</div>
							</div>
							{assign var="lang_rel" value=$lang_rel+1}
						{/foreach}
					</div>
				</div>
				</span>
				{foreach from=$serv_list item=i}
					{if !empty($i.shown_in_menu)}
						<span class="item is_dropdown">
							 <span class="item_with_svg"><a {if $i.alias_id != "expertise"} href="{$slang}{$i.long_link}" {/if}>{$i.name|upper}</a>
							 {include file="./css/svg/down.svg"}</span>

						<div class="menu_dropdown">
							<div class="contents">
								{assign "count" 0}
								{if $i.alias_id == "expertise"}
									{assign "cycle_data" $expertise_items}
								{else}
									{assign "cycle_data" $services}
								{/if}
								<ul>
									{foreach from=$cycle_data key=n item=ii name=item}
										{if $i.id == $ii.parent_id}
											<li class="group">
												<a href="{$slang}{$ii.long_link}" class="title">{$ii.name}</a>
											</li>
											{assign "count" ($count + 1)}
										{/if}
									{/foreach}
								</ul>
							</div>
						</div>
						</span>
					{/if}
				{/foreach}
			</div>
		</div>
		<div class="tablet_menu">
			<span class="tablet_dropdown">
				<a class="noselect">{$lg.world_languages|upper}</a>
			 	<div class="down show">{include file="./css/svg/down.svg"}</div>
			 	<div class="up">{include file="./css/svg/up.svg"}</div>
			</span>
			<div class="tablet_dropdown_contents languages">
				<div class="contents">
					{foreach from=$lang_gr item=g}
						{assign var="count" value=0}
						<div class="group" lang_rel="{$lang_rel}">
							<span class="tablet_dropdown"><strong class="title">{$g.name}</strong>
			 	<div class="down show">{include file="./css/svg/down.svg"}</div>
			 	<div class="up">{include file="./css/svg/up.svg"}</div></span>
			 		<div class="tablet_dropdown_contents">
							{assign var="count" value=0}
									{assign var="count_in_group" value=0}
									{foreach from=$lang_items item=i}
										{if $i.parent_id == $g.id}
											{assign var="count_in_group" value=$count_in_group+1}
										{/if}
									{/foreach}
									{if $count_in_group > 5}
										{foreach from=$lang_items item=i}
											{if $i.parent_id == $g.id && !empty($i.already_shown)}
												<a href="{$slang}{$i.long_link}" class="item">
													<i class="icon" style="background-image:url('/cms/css/flags/{$i.lang_iso_code}.svg')"></i>
													{$i.name}
												</a>
												{assign var="count" value=$count+1}
											{/if}
										{/foreach}
										{assign var="count" value=0}
										{foreach from=$lang_items item=i}
											{if $i.parent_id == $g.id && empty($i.already_shown)}
												{if $count == 0}
													<div class="item see_more noselect" lang_rel="{$lang_rel}">					{$lg.see_more}
													</div>
												{/if}
												<a href="{$slang}{$i.long_link}" class="item more">
													<i class="icon" style="background-image:url('/cms/css/flags/{$i.lang_iso_code}.svg')"></i>
													{$i.name}
												</a>
												{assign var="count" value=$count+1}
											{/if}
										{/foreach}
									{else}
										{foreach from=$lang_items item=i}
											{if $i.parent_id == $g.id}
												<a href="{$slang}{$i.long_link}" class="item">
													<i class="icon" style="background-image:url('/cms/css/flags/{$i.lang_iso_code}.svg')"></i>
													{$i.name}
												</a>
											{/if}
										{/foreach}
									{/if}
						</div>
						</div>
						{assign var="lang_rel" value=$lang_rel+1}
					{/foreach}
				</div>
			</div>
			{foreach from=$serv_list item=i}
				{if !empty($i.shown_in_menu)}
					<span class="tablet_dropdown">
						 <a {if $i.alias_id != "expertise"} href="{$slang}{$i.long_link}" {/if} class="noselect">{$i.name|upper}</a>
			 			<div class="down show">{include file="./css/svg/down.svg"}</div>
			 			<div class="up">{include file="./css/svg/up.svg"}</div>
					</span>

					<div class="tablet_dropdown_contents">
						<div class="contents">
							{if $i.alias_id == "expertise"}
								{assign "cycle_data" $expertise_items}
							{else}
								{assign "cycle_data" $services}
							{/if}
							{foreach from=$cycle_data key=n item=ii name=item}
								{if $i.id == $ii.parent_id}
									<div class="group">
										<strong>
											<a href="{$slang}{$ii.long_link}" class="title">{$ii.name|upper}</a>
										</strong>
									</div>
								{/if}
							{/foreach}
						</div>
					</div>
				{/if}
			{/foreach}
		</div>
	</header>
	<div id="page_question_form_modal">
		<div id="page_question_form">
			<div class="title">
				<i class="icon">
					{include file="./css/svg/mail.svg"}
				</i>
				<span class="text">
					{$lg.ask_a_question}
				</span>
			</div>

			<form class="contents">
				<div id="name" class="contact_form_line_div required">
					<label>
						{$lg.name}:
					</label>
					<input type="text" name="name" data-is-required="true">
				</div>
				<div id="email" class="contact_form_line_div required">
					<label>
						{$lg.email}:
					</label>
					<input type="email" name="email" data-is="email">
				</div>

				<div id="your_question" class="contact_form_line_div required">
					<label>
						{$lg.question}:
					</label>
					<textarea></textarea>
				</div>

				<div class="controls">
					<span class="simple bloated primary submit button">
						{$lg.send}
					</span>
				</div>
			</form>
		</div>
	</div>
	<div class="modal" id="{if $cat.0.template != "logged_in"}file_upload_modal{else}file_upload_modal_logged{/if}">
		<div class="modal_cell">
			<div class="modal_center_block">
				<div class="modal_center">
					<div class="close">✖</div>
					<div id="file_upload_modal_center">
						<div class="title">{$lg.quote_two|upper}</div>
						<div class="contents">
							<span class="subtitle">{$lg.add_files}</span>
							<div class="teaser">{$lg.acceptable_formats} {$settings.accepted_formats}.</div>
							<div class="size_warning">{$lg.file_size_limit}</div>
							<div class="box file_upload">
								<form class="box__input{if $cat.0.template == "logged_in"} display_svg{/if}" enctype="multipart/form-data">
									{include file="./css/svg/inbox.svg"}
									<div class="loading"></div>
								    <label class="file_label" for="file" {if $cat.0.template != "logged_in"}style="display: none"{/if}>
									    <input class="box__file" mode="" id="modal_file_input" type="file" name="file" id="file" multiple>
									    <div class="file_label_content"></div>
									</label>
								    {if $cat.0.template != "logged_in"}<div class="captcha_warning">{$lg.captcha_warning}</div>{/if}
								    {*<div class="one_file_error">{$lg.one_file_allowed|upper}</div>*}
								    {if $cat.0.template != "logged_in"}
									<div class="g-recaptcha" data-sitekey="6LdPXUwUAAAAALdakwEfry6veX7CzKiSIF78sAwz{*$settings.recaptcha_site_key*}" data-callback="enableBtn"
									data-expired-callback="enableBtn"></div>
									{/if}
								</form>
								<div class="box__uploading">Uploading&hellip;</div>
								<div class="box__success">
								</div>
								<div class="box__error">Error! <span></span>.</div>
							    {*<button class="box__button" type="submit">{$lg.upload}</button>*}
							</div>
							<div id="modal_files_list">
								
							</div>
							<div class="done_container">
								<div class="close bloated primary button">{$lg.done}</div>
							</div>
						</div>
					</div>
					<div id="language_select_modal">
						<div class="title">{$lg.select_languages|upper}</div>
						<div class="selected_languages"></div>
						<div class="contents">
							<div class="columns">
								<ul>
									<li class="select_item other">
										<input value="other" class="multi_select_languages other" type="checkbox" onclick="multi_select_langs($(this), 'vacancies_modal');"><span><input id="other_language" class="" tips="other" placeholder="{$lg.other_lang}"></span></li>
										{if $cat.0.template != "logged_in"}
											{foreach from=$lang_gr item=g}
												{foreach from=$lang_items item=i name=lieta}
													{if $i.parent_id == $g.id}
														<li class="select_item">
														<input value="{$i.id}" class="multi_select_languages" type="checkbox"><span>{$i.name}</span></li>
													{/if}
												{/foreach}
											{/foreach}
										{else}
											{foreach from=$lang_gr item=g}
												{foreach from=$lang_items item=i name=lieta}
													{if $i.parent_id == $g.id}
														<li class="select_item">
														<input value="{$i.id}" class="multi_select_languages" type="checkbox"><span>{$i.name}</span></li>
													{/if}
												{/foreach}
											{/foreach}
										{/if}
								</ul>
							</div>
						</div>
						<div class="done_container">
							<div class="close bloated primary button">{$lg.done}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>