<div class="gray_section separated">
	<div class="container">
		{include file="./block/right_side.html"}
		<div class="left">
			<div class="box">
				<div class="contents">
					<h2 class="title">{$cat.0.name}</h2>
					{$cat.0.content}

					{*{foreach from=$expertise item=i}
						<div class="block">
							<h4 class="title">
								{$i.name}
							</h4>
							<div class="contents">
								{$i.content}
							</div>
						</div>	
					{/foreach}*}
					{if !empty($language_blocks)}
						{foreach from=$language_blocks item=i}
						<div>
							<h4>{$i.name}</h2>
							<div class="content">{$i.content}</div>
						</div>
						{/foreach}
					{/if}

					{if !empty($available_expertise)}
						{include file="./block/bubbles.html" expertises=$available_expertise}
					{/if}

					{if !empty($vacancy_holder)}
						{include file="./block/vacancies.html"}
					{/if}
				</div>
			</div>
		</div>
	</div>
</div>