<div class="modal table">
	<div class="modal_cell">
		<div class="modal_center_block">
			<div class="modal_center">
				<div class="close">
					✖
				</div>
				<div id="reset_password" class="centered_form">
					<div class="page">
						<div id="reset_container">
							<h1>{$lg.password_reset}</h1>
							<div class="reset_password_teaser">{$lg.password_reset_teaser}</div>

							<div class="segment passwords">
								<span class="title">
									{$lg.password}*:
								</span>
								<input class="required" name="password" type="password">
								<span class="title">
									{$lg.password2}*:
								</span>
								<input class="required" name="password2" type="password">
								<input class="required" name="reset_code" type="hidden" value="{if !empty($reset_user.reset_code)}{$reset_user.reset_code}{/if}" />
							</div>
							<div class="controls center">
								<span class="bloated primary submit button" id="reset_password_button">
									{$lg.reset_password}
								</span>
								<img class="loading hide" src="/css/images/loading.gif" >
								<span class="text hide" id="reset_done">{$lg.password_changed}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>